.dice_container {
  width: 250px;
  height: 449px;
  margin: auto;
}
.dice_content {
  width: 229px;
  height: 170px;
}
.play_link {
  text-decoration: none;
}

.dice_btn {
  background-color: transparent;
  border: none;
}
